.Name {
    width: 50%;
    display: flex;
    justify-content: center;

    div {
        .second {
            padding-left: 0.5rem;
        }

        p {
            padding-left: 1rem;
        }
    }

}